---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Past and Upcoming Talks
Invited Talks

Special Session on "Recent Advances in the Theory of Fluid Dynamics", AMS Western Sectional Meeting, October 2020 (scheduled)
Special Session on "Nonstandard Elliptic and Parabolic Regularity Theory with Applications", AMS Southeastern Sectional Meeting, October 2020 (scheduled)
PDE Seminar, University of Tennessee Knoxville, April 2020 (cancelled)
PDE Seminar, University of Arkansas, March 2020
Informal PDE Seminar, ENS Paris, January 2020
PDE Seminar, Université  de Bordeaux, January 2020
Rainwater Seminar, University of Washington, November 2019
Special Session on "Nonlinear PDEs in Fluid Dynamics", AMS Southeastern Sectional Meeting, November 2019
Clifford Lectures, Tulane University, October 2019
PDE Seminar, Brown University, March 2019
Analysis of Fluids and Related Topics Seminar, Princeton University, February 2019
Navier-Stokes Equations Seminar, University of Oxford, June 2018
Special Session on "Mathematical Fluid Mechanics: Analysis and Applications", Joint Mathematics Meetings, January 2018
Contributed Talks

SIAM PDE, December 2019
International Congress on Industrial and Applied Mathematics, July 2019

#{% if site.talkmap_link == true %}

#<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

#{% endif %}

#{% for post in site.talks reversed %}
#  {% include archive-single-talk.html %}
#{% endfor %}
